html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #222222;
}

.gray-color {
    color: #222222;
}

.text-center {
    text-align: center;
}

.light-grey-background {
    background-color: lightgray;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.border-left-dotted {
    border-left: 1px dotted black;
}

header, footer {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.simple_button {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

/** Header - START **/
header {
    min-height: 50px;
    line-height: 50px;
}

header .bordered-shadowed-header {
    -webkit-box-shadow: 0 6px 4px -6px black;
    -moz-box-shadow: 0 6px 4px -6px black;
    box-shadow: 0 6px 4px -6px black;
}

header .header_buttons_container {
    display: flex;
    flex-direction: row;
}

header .header_buttons_container .left_buttons_container {
    flex-grow: 1;
}

header .header_buttons_container .right_buttons_container {
    flex-grow: 4;
}

header .header_buttons_container .header_button {
    width: 100px;
    height: 80%;
    position: relative;
    top: 5px;
}

header .header_buttons_container .left_buttons_container .header_button {
    float: left;
}

header .header_buttons_container .right_buttons_container .header_button {
    float: right;
}

header .header_buttons_container i {
    margin-right: 5px;
}


/** Header - END **/

footer {
    min-height: 40px;
    line-height: 40px;
    border-top: 3px solid grey;
    font-size: 13px;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.wrapper .wrapper_with_bg {
    background-image: url("../images/santorini_background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper .wrapper_with_bg .search_box {
    background: white;
    padding: 10px 40px;
    height: auto;
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.dropdowns_container, .dates_container, .search_button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdowns_container {
    margin: 10px 0 20px 0;
}

.custom-select,
input {
    flex: 1;
    max-height: 35px;
    height: 35px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.custom-select {
    height: 38px;
    max-height: 38px;
    text-align-last: center;
    background-color: #f1ecec;
}

.search_button_container .search_button,
.find_hotels_button {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5% auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
}

.find_hotels_button {
    margin: 0;
    font-size: 13px;
}

/** Login - START **/
.wrapper .login_wrapper_with_bg {
    background-image: url("../images/kavala_moon.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper .login_wrapper_with_bg .login_box {
    background-color: white;
    padding: 20px 40px;
    height: 250px;
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
}

.wrapper .login_wrapper_with_bg .login_box input {
    flex: 1;
    height: 35px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.wrapper .login_wrapper_with_bg .login_box .login_button_form {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5% auto;
}

.wrapper .login_wrapper_with_bg .login_box .register_text {
    text-align: center;
}

.wrapper .login_wrapper_with_bg .login_box .register_text a {
    font-weight: bold;
    color: orangered;
}

/** Login - END **/

/** Register - START **/
.wrapper .register_wrapper_with_bg {
    background-image: url("../images/athens.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper .register_wrapper_with_bg .register_box {
    background-color: white;
    padding: 20px 40px;
    height: 300px;
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
}

.wrapper .register_wrapper_with_bg .register_box .register_button_form {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5% auto;
}

/** Register - END **/

/** Profile - START **/
/** List - START **/
.wrapper .container_with_sidebar {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}

.wrapper .container_with_sidebar .sidebar {
    flex-grow: 2;
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
    display: flex;
    flex-direction: column;
}

.wrapper .container_with_sidebar .filters_sidebar {
    flex-grow: 1;
}

.wrapper .container_with_sidebar .sidebar .favorites_container,
.wrapper .container_with_sidebar .sidebar .filters_container,
.wrapper .container_with_sidebar .sidebar .reviews_container {
    padding: 10px;
}

.wrapper .container_with_sidebar .sidebar.filters_sidebar .title,
.wrapper .container_with_sidebar .sidebar .favorites_container .title,
.wrapper .container_with_sidebar .sidebar .reviews_container .title {
    color: orangered;
    font-size: 16px;
}

.wrapper .container_with_sidebar .sidebar.filters_sidebar .title {
    margin-top: 35px;
}

.wrapper .container_with_sidebar .sidebar .favorites_container .favorites_list ol li,
.wrapper .container_with_sidebar .sidebar .reviews_container .reviews_list ol li {
    margin-bottom: 10px;
}

.wrapper .container_with_sidebar .sidebar .filters_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin-top: 30px;
}

.wrapper .container_with_sidebar .list_container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.wrapper .container_with_sidebar .list_container {
    width: 70%;
}

.wrapper .container_with_sidebar .list_container .left_part {
    width: 30%;
}

.wrapper .container_with_sidebar .search_results_container {
    flex-grow: 7;
}

.wrapper .container_with_sidebar .list_container .my_bookings_title,
.wrapper .container_with_sidebar .list_container .search_results_title {
    color: white;
    background-color: orangered;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.wrapper .container_with_sidebar .list_container .column_list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 30px;
}

.wrapper .container_with_sidebar .list_container .row_item {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px
}

.wrapper .container_with_sidebar .list_container .row_item .right_part,
.wrapper .container_with_sidebar .list_container .row_item .left_part {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 50px;
}

.wrapper .container_with_sidebar .list_container .row_item .left_part {
    flex-grow: 2;
}

.wrapper .container_with_sidebar .list_container .row_item .right_part {
    flex-grow: 3;
}

.wrapper .container_with_sidebar .list_container .row_item .left_part .item_photo {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .container_with_sidebar .list_container .row_item .right_part .item_info {
    border-left: 2px solid orangered;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.wrapper .container_with_sidebar .list_container .row_item .right_part .item_info .info_parts.hotel_location {
    color: lightgray;
    font-size: 13px;
    margin-top: 3px;
}

.wrapper .container_with_sidebar .list_container .row_item .right_part .item_info .info_parts.hotel_description {
    font-size: 13px;
    margin-top: 10px;
}

.wrapper .container_with_sidebar .list_container .row_item .right_part .item_info .hotel_button_link {
    color: white;
    background-color: orangered;
    padding: 7px 12px;
    align-self: flex-end;
    font-size: 13px;
    margin-top: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.wrapper .container_with_sidebar .list_container .column_list .row_item .left_part .price_container,
.wrapper .container_with_sidebar .list_container .column_list .row_item .right_part .all_booking_details {
    padding: 10px;
    font-size: 13px;
}

.wrapper .container_with_sidebar .list_container .column_list .row_item .left_part .price_container {
    color: white;
    background-color: #2f2e2e;
}

.wrapper .container_with_sidebar .list_container .column_list .row_item .right_part .all_booking_details {
    background-color: lightgray;
    color: #2f2e2e;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 2;
}

.wrapper .container_with_sidebar .list_container .column_list .row_item .right_part .all_booking_details .all_booking_detail_item {
    flex-grow: 1;
    text-align: center;
}

.wrapper .container_with_sidebar .list_container .column_list .row_item .right_part .all_booking_details .all_booking_detail_item:not(:last-child) {
    border-right: 1px solid #2f2e2e;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_inputs_container input:first-child,
.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_price_tags span:first-child {
    float: left;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_inputs_container input:last-child,
.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_price_tags span:last-child {
    float: right;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_price_tags {
    font-size: 10px;
    margin-top: 5px;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container input.range_slider_inputs {
    width: 85px;
    height: 20px;
    text-align: center;
    background-color: #f1ecec;
    border: none;
    font-size: 10px;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container .ui-slider-horizontal {
    height: .5em;
    background-color: #f1ecec;
}

.wrapper .container_with_sidebar .filters_sidebar .filters_container .range_slider_element span {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 2px solid #cccccc;
    background: orangered;
    width: 0.9em;
    height: 0.9em;
}

/** Profile - END **/
/** List - END **/

/** Room - START **/

.wrapper .room_page {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 40px;
    border-bottom: 2px dashed grey;

}

.wrapper .room_page .room_page_title_container {
    padding: 10px;
    background-color: orangered;
    color: white;
    margin: 20px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.wrapper .room_page .room_page_title_container .room_basic_info {
    width: 89%;
    float: left;
}

.wrapper .room_page .room_page_title_container .room_basic_info .info_item {
    float: left;
    padding: 0 5px
}

.wrapper .room_page .room_page_title_container .room_basic_info .info_item:first-child {
    padding-left: 0;
}

.wrapper .room_page .room_page_title_container .room_basic_info .info_item:not(:last-child) {
    border-right: 1px solid white;
}

.wrapper .room_page .room_page_title_container .room_basic_info .favorite_button {
    cursor: pointer;
}

.wrapper .room_page .room_page_title_container .room_basic_info .favorite_button.is_favorite {
    color: #ff99ab;
}

.wrapper .room_page .room_page_title_container .room_price {
    float: right;
}

.wrapper .room_page .room_image {
    height: 300px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 0 15px 0;
}

.wrapper .room_page .room_more_info {
    padding: 10px;
    background-color: orangered;
    color: white;
    margin: 20px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.wrapper .room_page .room_more_info .info_item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    color: white;
}

.wrapper .room_page .room_more_info .info_item i {
    margin-right: 5px;
}

.wrapper .room_page .room_more_info .info_item:not(:last-child) {
    border-right: 1px dashed white;
}

.wrapper .room_page .room_description_container {
    display: flex;
    flex-direction: column;
    border-left: 2px solid orangered;
    padding-left: 15px;
}

.wrapper .room_page .room_description_container > div:first-child,
.wrapper .room_page_reviews_container .room_page_reviews > div:first-child,
.wrapper .room_page_reviews_container .room_page_add_review > div:first-child {
    font-size: 20px;
    margin-bottom: 20px;
}

.wrapper .room_page .room_description_container .room_description {
    font-size: 13px;
    text-align: justify;
}

.wrapper .room_page .booked_container {
    padding: 30px 0;
}

.wrapper .room_page .booked_container .already_booked_tag,
.wrapper .room_page .booked_container .book_room {
    color: white;
    background-color: red;
    float: right;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.wrapper .room_page .booked_container .book_room {
    cursor: pointer;
}

.wrapper .room_page_reviews_container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    height: auto;
}

.wrapper .room_page_reviews_container .room_page_reviews,
.wrapper .room_page_reviews_container .room_page_add_review {
    display: flex;
    flex-direction: column;
    border-left: 2px solid orangered;
    padding-left: 15px;
}

.wrapper .room_page_reviews_container .room_page_add_review {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.wrapper .room_page_reviews_container .room_page_add_review .review_stars {
    margin-bottom: 20px;
}

.wrapper .room_page_reviews_container i.fa-star {
    color: lightgrey;
}

.wrapper .room_page_reviews_container i.fa-star.active-star {
    color: yellow;
}

.wrapper .room_page_reviews_container .room_page_add_review i.fa-star {
    cursor: pointer;
}

.wrapper .room_page_reviews_container .room_page_add_review textarea {
    width: 100%;
}

.wrapper .room_page_reviews_container .submit_review {
    color: white;
    background-color: orangered;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 2% auto;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.wrapper .room_page_reviews_container .review_item {
    margin-bottom: 30px;
}

.wrapper .room_page_reviews_container .review_item .review_username_container {
    margin-bottom: 10px;
}

.wrapper .room_page_reviews_container .review_item .review_username {
    font-weight: bold;
}

.wrapper .room_page_reviews_container .review_item .review_date {
    font-size: 13px;
    margin-bottom: 20px;
}

.wrapper .room_page_reviews_container .review_item .review_text {
    font-size: 13px;
    text-align: justify;
}

/** Room - END **/

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.active-option {
    color: orangered;
}

.active-star {
    color: yellow;
}

.error_message_container {
    color: red;
    font-weight: bolder;
    width: 100%;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.error_border {
    border: 1px solid red !important;
}